@import "../../_variables.scss";

.footer{
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    height: 20px;
    background: $light-header-background;
    z-index: 2;
    margin-top: 25px;
    color: #fff;
    @media screen and (max-width: 365px){
        font-size: 12px;
    }
    @media screen and (max-width: 768px){
        height: 35px;
    }
}
.copyright{
    float: left;
    display: inline;
}
.built-with{
    float: right;
    display: inline;
    @media screen and (max-width: 620px){
        float: left;
    }
}