@import "../../_variables.scss";

.footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    height: 40px;
    background: $light-header-background;
    z-index: 2;
    margin-top: 25px;
}
.footer-link{
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 600;
}