@import "../../_variables.scss";

.landing-container{
    margin-top: 56px;
      .about-me{
        background: #0d6084b8;
        color: #ffffff;
        width: 100%;
        .container{
          padding: 12% 3%;
          .about-section{
            .heading {
              font-weight: bold;
              font-size: 28px;
              line-height: 35px;
              @media screen and (max-width: 768px){
                font-size: 20px;
                line-height: 25px;
              }
          }
          .content{
            font-size: 22px;
            font-weight:400;
            line-height: 26px;
            @media screen and (max-width: 768px){
              font-size: 15px;
              line-height: 20px;
            }
          }
        }
        }
      }
    .cards{
      padding: 0 20px;
      .example-card {
        margin-top: 10px;
        .mat-card-header{
          background: $light-header-background;
          color: #fff;
          font-weight: 600;
          padding: 22px;
        }
        .mat-card-content{
          margin-top: 16px;
          min-height: 75px;
          .know-more-text{
            font-size: 30px;
            font-weight: 400;
          }
        }
        .mat-button{
          width: 100%;
          padding: 5.4%;
        }
      }
    }
  }
