<div class="landing-container">
<div class="about-me">
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center">
   <div fxFlex="80%">
     <div class="about-section">
    <span class="heading">Hello! My Name is Ravi.</span><br><br>
    <span class="content">I am a full-stack web developer with over two years of experience.<br><br>
    I have worked in maintaining, developing and deploying projects from scratch, carrying the development of its' back-end and front-end codebases.<br><br>
My current skillset includes HTML5, CSS, SCSS, JS, Angular,TypeScript, Java, SpringBoot,WCS.<br><br>
Feel free to ask me any questions. I can help you in your project in all from the UI mockups, back-end and front-end web development to fixing the design and installing & configuration of the application on staging/production enviroments.<br><br>
<i><small>Call me a Swiss Army Knife in terms of web development.</small></i></span>
     </div>
  </div>
</div>
</div>

<div class="cards">
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center">
    <div fxFlex="40%">
        <mat-card class="example-card">
          <mat-card-header>Tech Stack</mat-card-header>
            <mat-card-content>
              <b>Angular</b>, Angular Flex, Angular Material, Bootstrap, <b>SASS</b>, Java, <b>REST Services</b>, SEO,
              IBM WCS, micro-services, <b>Spring Boot</b>
            </mat-card-content>
          </mat-card>
    </div>
    <div fxFlex="40%">
        <mat-card class="example-card">
          <mat-card-header>Professional Summary</mat-card-header>
            <mat-card-content>
              More than <b>2.5</b> Years<br>Front End and Back End Developer at <b>Accenture</b>
            </mat-card-content>
          </mat-card>
    </div>
    </div>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center">
    <div fxFlex="40%">
        <mat-card class="example-card">
            <mat-card-header>Academic Summary</mat-card-header>
            <mat-card-content>
                Not a IITian, Not a NITian!<br>
                An Average B.Tech Grad from a average college.<br>
                Nothing Much to see here!
            </mat-card-content>
          </mat-card>
    </div>
    <div fxFlex="40%">
      
        <mat-card class="example-card">
            <button mat-button [routerLink]="['/app-details']">
            <mat-card-content>
              <b class="know-more-text">Know More!</b>
            </mat-card-content>
          </button>
          </mat-card>
        
    </div>
  </div>
</div>
</div>