<div class="landing-container">
<div class="about-me">
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center">
   <div fxFlex="80%">
     <div class="about-section">
    <span class="heading">Hello! My Name is Ravi.</span><br>
    <span class="content">I am a full-stack web developer with over two years of experience.<br>
    I have worked in maintaining, developing and deploying projects from scratch, carrying the development of its' back-end and front-end codebases.<br>
My current skillset includes HTML5, CSS, SCSS, JS, Angular,TypeScript, Java, SpringBoot,WCS.<br>
Feel free to ask me any questions. I can help you in your project in all from the UI mockups, back-end and front-end web development to fixing the design and installing & configuration of the application on staging/production enviroments.<br>
<i><small>Call me a Swiss Army Knife in terms of web development.</small></i></span>
     </div>
  </div>
</div>
</div>

<div class="cards">
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center">
    <div fxFlex="40%">
        <mat-card class="example-card">
          <mat-card-header>Highlights</mat-card-header>
            <mat-card-content>
              <b>Angular</b>, Angular Flex, Angular Material, Bootstrap, <b>SASS</b>, J2EE, <b>REST Services</b>, SEO,
              IBM WCS, micro-services, <b>Spring Boot</b>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [routerLink]="['/app-details']">See More</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div fxFlex="40%">
        <mat-card class="example-card">
          <mat-card-header>Professional Summary</mat-card-header>
            <mat-card-content>
              More than <b>2.5</b> Yrs, Front End Developer, Back End Developer, <b>Accenture</b>, Disney Movie Club
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [routerLink]="['/app-details']">See More</button>
            </mat-card-actions>
          </mat-card>
    </div>
    </div>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center">
    <div fxFlex="40%">
        <mat-card class="example-card">
            <mat-card-header>Degrees</mat-card-header>
            <mat-card-content>
                B.Tech(CSE), 10+2 and Matriculation<br>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>No More!</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div fxFlex="40%">
        <mat-card class="example-card">
          <mat-card-header>More About Me</mat-card-header>
            <mat-card-content>
              More About Me! Please See More.
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [routerLink]="['/app-details']">See More</button>
            </mat-card-actions>
          </mat-card>
    </div>
  </div>
</div>
</div>