$light-header-background: linear-gradient(to right,#60c1b4, #1a2248);
$dark-header-background: linear-gradient(to right,#60c1b4, #1a2248);
$header-text-on-light-theme: #ffffff;
$header-text-on-dark-theme:#f9f9f9;
$body-bg-on-light-theme: #ffffff;
$body-bg-on-dark-theme: #ffffff;
$text-on-light-theme: #000000;
$text-on-dark-theme:#f9f9f9;