<div fxFlex>
  <div class="basic-intro">
    Worked for Disney client for the development of e-commerce website with responsive design to work on all mobile and tablet
    sizes for sale of disney movies. The site is designed with dynamic layouts that spotlights product and content and allows
    the flexibility to feature the different worlds of Disney, Pixar, Star Wars and Marvel as new content debuts
    <ul>
      <div *ngFor="let skills of bData">
        <li>{{skills.description}}</li>
      </div>
    </ul>
  </div>
</div>