.footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    height: 40px;
    background: linear-gradient(to right, #00FF9B, #5f84fb);
    z-index: 2;
    margin-top: 25px;
}
.footer-link{
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 600;
}