<div class="details-container">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">important_devices</mat-icon>
        FrontEnd Expertise
      </ng-template>
      <app-frontend></app-frontend>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">code</mat-icon>
        BackEnd Expertise
      </ng-template>
      <app-backend></app-backend>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">local_play</mat-icon>
        Projects
      </ng-template>
      <app-projects></app-projects>
    </mat-tab>
  </mat-tab-group>

</div>