<div class="details-container">
  <mat-tab-group dynamicHeight>
    <mat-tab label="FrontEnd Expertise">
      <div fxFlex>
        <mat-card class="example-card">
          <mat-card-content>
            <div *ngFor="let skills of data">
              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{skills.name}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>{{skills.description}}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="BackEnd Expertise">
        <div fxFlex>
            <mat-card class="example-card">
              <mat-card-content>
                <div *ngFor="let skills of bData">
                  <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{skills.name}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p>{{skills.description}}</p>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
    </mat-tab>
  </mat-tab-group>
</div>